html,
body,
#app {
  margin: 0;
  padding: 0;
  /* min-width: 1366px; */
  height: 100%;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.el-input__inner {
  border-radius: 5px;
}
/* .el-menu-item{
  font-size: 12px;
} */
/* 隐藏走马灯底下卡片 */
.el-carousel__indicators {
  display: none;
}
.el-breadcrumb {
  height: 30px;
  line-height: 30px;
}
.el-card {
  min-width: 1136px;
  min-height: 500px;
  padding-bottom: 100px;
}
.el-icon-arrow-left,
.el-icon-arrow-right {
  font-size: 18px;
}
.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  color: rgb(247, 53, 53);
}
.el-tabs--border-card
  > .el-tabs__header
  .el-tabs__item:not(.is-disabled):hover {
  color: rgb(247, 53, 53);
}
.el-tabs__content {
  min-height: 500px;
}
.clearMusic {
  position: absolute;
  right: 0px;
  bottom: 28px;
  width: 20px;
  font-size: 20px;
  height: 20px;
  color: #e62828;
  z-index: 99;
  cursor: pointer;
}
.aplayer-volume-bar-wrap {
  bottom: 20px !important;
  right: -10px !important;
}
.aplayer-volume-bar {
  width: 15px !important;
  height: 40px !important;
}
.aplayer-volume {
  width: 15px !important;
  /* height: 40px !important; */
}
/* 设置tags宽度 */
.el-tabs__item {
  width: 150px;
}
table {
  width: 100%;
  table-layout: fixed; /* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
}
td,
tr {
  width: 100%;
  word-break: keep-all; /* 不换行 */
  white-space: nowrap; /* 不换行 */
  overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
  text-overflow: ellipsis; /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用*/
}
a {
  color: #000;
  text-decoration: none;
  font-size: 13px;
}
/* @media only screen and (min-width: 5px) {
  .el-card {
    min-width: 1166px;
  }
} */